In [ ]:
# Write a Python function to find the maximum and minimum numbers from a sequence of numbers.
def min_max(numbers):
  min_num = float('inf')
  max_num = float('-inf')
  for i in numbers:
    if i < min_num:
      min_num = i
    elif i > max_num:
      max_num = i
  return min_num, max_num

min_max([1,2,3,4,5,6,7,8,9,10])

(1, 10)

In [ ]:
# Write a Python program to create an array of 5 integers and display the array items.
# Access individual element through indexes.

import array as arr

numbers = arr.array('i',[1,2,3,4,5])

for i in numbers:
  print(i, end = " ")

1 2 3 4 5

In [ ]:
# Write a Python program to reverse the order of the items in the array.

import array as arr

numbers = arr.array('i',[1,2,3,4,5])

for i in range(-1, -len(numbers)-1,-1):
  print(numbers[i], end = " ")
print()

print("OR ANOTHER APPROACH WILL BE")
for i in reversed(numbers):
  print(i, end = " ")

5 4 3 2 1
OR ANOTHER APPROACH WILL BE
5 4 3 2 1

In [ ]:
# Write a Python program to get the number of occurrences of a specified element in an array.

def occurrences(numbers, target, count = 0):
  for i in numbers:
    if i == target:
      count += 1
  return count

occurrences([1,2,3,4,5,6,7,8,9,10], 1)

1

In [ ]:
# Write a Python program to remove the first occurrence of a specified element from an array.

def remove_elemnt(numbers, target):
  for i in numbers:
    if i == target:
      numbers.remove(i)
      break
  return numbers

remove_elemnt([1,2,3,4,5,6,7,8,9,10], 1)

[2, 3, 4, 5, 6, 7, 8, 9, 10]

### **Dictionary Set**

In [ ]:
# Write a Python script to sort (ascending and descending) a dictionary by value.
def sort_dict(mydict):
  print("Ascending Order")
  for key, value in sorted(mydict.items(), key = lambda x: x[1]):
    print(key, "--->", value)

  print("Descending Order")
  for key, value in sorted(mydict.items(), key = lambda x: x[1], reverse = True):
    print(key, "--->", value)

sort_dict({'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5})

Ascending Order
a ---> 1
b ---> 2
c ---> 3
d ---> 4
e ---> 5
Descending Order
e ---> 5
d ---> 4
c ---> 3
b ---> 2
a ---> 1

In [ ]:
# Write a Python script to add a key to a dictionary.
# Sample Dictionary : {0: 10, 1: 20}
# Expected Result : {0: 10, 1: 20, 2: 30}

mydict = {0: 10, 1: 20}
mydict[2] = 30
mydict

{0: 10, 1: 20, 2: 30}

In [ ]:
# Write a Python script to concatenate following dictionaries to create a new one.
# Sample Dictionary :
# dic1={1:10, 2:20}
# dic2={3:30, 4:40}
# dic3={5:50,6:60}
# Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

dict1={1:10, 2:20}
dict2={3:30, 4:40}
dict3={5:50,6:60}

dict1.update(dict2)
dict1.update(dict3)
dict1

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# Write a Python program to iterate over dictionaries using for loops

mydict = {0: 10, 1: 20, 2: 30}
for key, value in mydict.items():
  print(key, "--->", value)

0 ---> 10
1 ---> 20
2 ---> 30

In [ ]:
# Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).
# Sample Dictionary (n = 5) :
# Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

mydict, n =  dict(), int(input("Enter the range: "))
for i in range(1,n+1):
  mydict[i] = i*i
print(mydict)

Enter the range: 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
# Write a Python program to remove a key from a dictionary.
mydict = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
x = int(input("Enter the key to be deleted: "))
if x in mydict:
  mydict.pop(x)
  print(mydict)
  print("Item removed")
else:
  print("Item Not present")

Enter the key to be deleted: 6
Not present

In [ ]:
from re import U
# Write a Python program to print all unique values in a dictionary.
# Sample Data : [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"},
# {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
# Expected Output : Unique Values: {'S005', 'S002', 'S007', 'S001', 'S009'}

mydict = {"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}
unique_values = set()
for i in mydict:
  for j in i.values():
    unique_values.add(j)


print(unique_values)

{'S005', 'S001', 'S002', 'S007', 'S009'}

In [ ]:
# Write a Python program to create a dictionary from a string.
# Note: Track the count of the letters from the string.
# Sample string : 'w3resource'
# Expected output: {'3': 1, 's': 1, 'r': 2, 'u': 1, 'w': 1, 'c': 1, 'e': 2, 'o': 1}

mystr = list(input("Enter the string: "))
mydict= dict()
for i in mystr:
  x = mystr.count(i)
  mydict[i] = x
print(mydict)

Enter the string: w3resource
{'w': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'u': 1, 'c': 1}

In [ ]:
# Write a Python program to print a dictionary in table format.

mydict = {'C1':[1,2,3],'C2':[4,5,6],'C3':[7,8,9]}

for key, value in mydict.items():
  print(key, end = " ")
  for i in value:
    print(i, end = " ")
  print()

C1 1 2 3
C2 4 5 6
C3 7 8 9

In [ ]:
# Write a Python program to count the values associated with key in a dictionary.
# Sample data: = [{'id': 1, 'success': True, 'name': 'Lary'}, {'id': 2, 'success':
# False, 'name': 'Rabi'}, {'id': 3, 'success': True, 'name': 'Alex'}]
# Expected result: Count of how many dictionaries have success as True

mylist_dict = [{'id': 1, 'success': True, 'name': 'Lary'}, {'id': 2, 'success':
False, 'name': 'Rabi'}, {'id': 3, 'success': True, 'name': 'Alex'}]

count = 0
for i in mylist_dict:
  if i['success'] == True:
    count += 1
print(count)

2

In [ ]:
# Write a Python program to convert a list into a nested dictionary of keys.

nested_dict = {}
mylist = [1,2,3,4]

for i in mylist:
  nested_dict[i] = {}
  i = nested_dict[i]
print(nested_dict)

{1: {}, 2: {}, 3: {}, 4: {}}

In [ ]:
# Write a Python program to count number of items in a dictionary value that is a list.

mydict = {'C1':[1,2,3],'C2':[4,5,6],'C3':[7,8,9]}
count = 0
for i in mydict.values():
  if type(i) == list:
    count+=1
print(count)

3

### **Set() Question set**

In [ ]:
# Write a Python program to create a set.

my_set = {1, 2, 3, 4, 5}
print("Set created:", my_set)

Set created: {1, 2, 3, 4, 5}

In [ ]:
# Iterating over a set
my_set = {1, 2, 3, 4, 5}
print("Iterating over the set:")
for item in my_set:
    print(item)

Iterating over the set:
1
2
3
4
5

In [ ]:
# Adding elements to the set
my_set = {1, 2, 3}
print("Original set:", my_set)

# Adding a single element
my_set.add(4)
print("After adding 4:", my_set)

# Adding multiple elements
my_set.update([5, 6, 7])
print("After adding 5, 6, 7:", my_set)

Original set: {1, 2, 3}
After adding 4: {1, 2, 3, 4}
After adding 5, 6, 7: {1, 2, 3, 4, 5, 6, 7}

In [ ]:
# Removing an element from the set
my_set = {1, 2, 3, 4, 5}
print("Original set:", my_set)

# Removing a single element
my_set.remove(3)
print("After removing 3:", my_set)

# Removing an element using discard (no error if item is not found)
my_set.discard(4)
print("After discarding 4:", my_set)

Original set: {1, 2, 3, 4, 5}
After removing 3: {1, 2, 4, 5}
After discarding 4: {1, 2, 5}

In [ ]:
# Remove an item only if it is present in the set
my_set = {1, 2, 3, 4, 5}
print("Original set:", my_set)

# Check if 2 is present and remove it
if 2 in my_set:
    my_set.remove(2)
    print("After removing 2:", my_set)
else:
    print("Item 2 not found in the set.")

Original set: {1, 2, 3, 4, 5}
After removing 2: {1, 3, 4, 5}

In [ ]:
# Intersection of sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
intersection = set1.intersection(set2)
print("Intersection of sets:", intersection)

Intersection of sets: {4, 5}

In [ ]:
# Union of sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
union = set1.union(set2)
print("Union of sets:", union)

Union of sets: {1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# Difference of sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
difference = set1.difference(set2)
print("Difference of sets (set1 - set2):", difference)

Difference of sets (set1 - set2): {1, 2, 3}

In [ ]:
# Symmetric Difference of sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
symmetric_difference = set1.symmetric_difference(set2)
print("Symmetric Difference of sets:", symmetric_difference)

Symmetric Difference of sets: {1, 2, 3, 6, 7, 8}

In [ ]:
# Clear all elements in the set
my_set = {1, 2, 3, 4, 5}
print("Original set:", my_set)

my_set.clear()
print("Set after clearing:", my_set)

Original set: {1, 2, 3, 4, 5}
Set after clearing: set()

In [ ]:
# Frozenset - immutable set
frozenset1 = frozenset([1, 2, 3, 4])
frozenset2 = frozenset([3, 4, 5, 6])

print("Frozenset1:", frozenset1)
print("Frozenset2:", frozenset2)

# Example of intersection with frozensets
intersection = frozenset1.intersection(frozenset2)
print("Intersection of frozensets:", intersection)

Frozenset1: frozenset({1, 2, 3, 4})
Frozenset2: frozenset({3, 4, 5, 6})
Intersection of frozensets: frozenset({3, 4})

In [ ]:
# Finding maximum and minimum value in a set
my_set = {1, 2, 3, 4, 5, 6}
print("Set:", my_set)

max_value = max(my_set)
min_value = min(my_set)

print("Maximum value in the set:", max_value)
print("Minimum value in the set:", min_value)

Set: {1, 2, 3, 4, 5, 6}
Maximum value in the set: 6
Minimum value in the set: 1

### **List Question Set**

In [ ]:
# Summing all the items in a list
my_list = [1, 2, 3, 4, 5]
total = sum(my_list)
print("Sum of all items in the list:", total)

Sum of all items in the list: 15

In [ ]:
# Multiplying all the items in a list
my_list = [1, 2, 3, 4, 5]
product = 1
for item in my_list:
    product *= item
print("Product of all items in the list:", product)

Product of all items in the list: 120

In [ ]:
# Finding the smallest number in the list
my_list = [5, 3, 9, 1, 7]
smallest = min(my_list)
print("Smallest number in the list:", smallest)

Smallest number in the list: 1

In [ ]:
# Counting the number of strings with length 2 or more and first and last character the same
sample_list = ['abc', 'xyz', 'aba', '1221']
count = 0
for string in sample_list:
    if len(string) >= 2 and string[0] == string[-1]:
        count += 1
print("Number of strings where the length is 2 or more and the first and last character are the same:", count)

Number of strings where the length is 2 or more and the first and last character are the same: 2

In [ ]:
mylist = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

lst = []
for tuples in mylist:
  lst.append(sorted(tuples))
print(lst)

[[2, 5], [1, 2], [4, 4], [2, 3], [1, 2]]

In [ ]:
# Sorting a list of tuples by the last element in each tuple
sample_list = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

sorted_list = sorted(sample_list, key=lambda x: x[-1])

print("Sorted list by the last element of each tuple:", sorted_list)

Sorted list by the last element of each tuple: [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
from ast import Index
# Write a Python program to remove duplicates from a list.

my_list = [1, 2, 3, 4, 5, 2, 3, 4, 2, 2]

for i in my_list:
  while my_list.count(i) != 1:
    print("Removing ",i)
    my_list.remove(i)
my_list

Removing  2
Removing  2
Removing  2
Removing  4
Removing  3

[1, 5, 3, 4, 2]

In [ ]:
# Write a Python program to clone or copy a list.
original_list = [1, 2, 3, 4, 5]

cloned_list = original_list.copy()

print("Original List:", original_list)
print("Cloned List:", cloned_list)

In [ ]:
# Write a Python program to find the list of words that are longer than n from a given list of words.

def words_longer_than_n(word_list, n):
    result = [word for word in word_list if len(word) > n]
    return result

word_list = ['apple', 'banana', 'cherry', 'kiwi', 'pear', 'orange']

n = 5

long_words = words_longer_than_n(word_list, n)

print("Words longer than", n, "characters:", long_words)

Words longer than 5 characters: ['banana', 'cherry', 'orange']

In [ ]:
# Function to check if two lists have at least one common member
def have_common_member(list1, list2):
    return bool(set(list1) & set(list2))

list1 = ['Red', 'Green', 'Blue']
list2 = ['Yellow', 'Green', 'Pink']

result = have_common_member(list1, list2)
print("Do the lists have a common member?", result)

Do the lists have a common member? True

In [ ]:
# Write a Python program to generate all permutations of a list in Python.

def generate_permutations(input_list):
    if len(input_list) == 1:
        return [input_list]

    permutations = []
    for i in range(len(input_list)):
        current_element = input_list[i]
        remaining_elements = input_list[:i] + input_list[i+1:]

        for perm in generate_permutations(remaining_elements):
            permutations.append([current_element] + perm)

    return permutations

input_list = [1, 2, 3]

permutations = generate_permutations(input_list)

print("All permutations of the list:", permutations)

All permutations of the list: [[1, 2, 3], [1, 3, 2], [2, 1, 3], [2, 3, 1], [3, 1, 2], [3, 2, 1]]

In [ ]:
# Write a Python program to get the difference between the two lists.

def list_difference(list1, list2, items = []):
    for item in list1:
      if item not in list2:
        items.append(item)

    for item in list2:
      if item not in list1:
        items.append(item)
    return items

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7]

difference = list_difference(list1, list2)

print("Difference between the two lists:", difference)

Difference between the two lists: [1, 2, 3, 6, 7]

In [ ]:
# Function to append a list to another list
def append_list(list1, list2):
    list1.extend(list2)

list1 = [1, 2, 3]
list2 = [4, 5, 6]

append_list(list1, list2)

print("Modified list1 after appending list2:", list1)

Modified list1 after appending list2: [1, 2, 3, 4, 5, 6]

In [ ]:
# Write a python program to check whether two lists are circularly identical.

def check_identical_list(list1, list2):
    if len(list1) != len(list2):
        return False

    elif list1 == list2:
      return True

    elif sorted(list1) == sorted(list2):
      if list1[-1] == list2[0] or list1[0] == list2[-1]:
        return True
      else:
        return False

    else:
      return False

list1 = [1, 2, 3, 4, 5]
list2 = [5, 1, 2, 3, 4]

check_identical_list(list1, list2)

True

In [ ]:
# Function to find common items from two lists
def find_common_items(list1, list2):
    common_items = set(list1) & set(list2)
    return list(common_items)

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

common_items = find_common_items(list1, list2)

print("Common items:", common_items)

Common items: [4, 5]

In [ ]:
# Function to split a list based on the first character of words
def split_list_based_on_first_char(word_list):
    grouped_words = {}

    for word in word_list:
        first_char = word[0].upper()

        if first_char not in grouped_words:
            grouped_words[first_char] = []

        grouped_words[first_char].append(word)

    return list(grouped_words.values())


word_list = ["apple", "banana", "apricot", "cherry", "carrot", "blueberry"]

split_list = split_list_based_on_first_char(word_list)

print("Split list based on first character of word:", split_list)

Split list based on first character of word: [['apple', 'apricot'], ['banana', 'blueberry'], ['cherry', 'carrot']]

In [ ]:
# Write a Python program to remove duplicates from a list of lists.
# Sample list : [[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]
# New List : [[10, 20], [30, 56, 25], [33], [40]]

Sample_list  = [[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]
unique = []
for i in Sample_list:
  if i not in unique:
    unique.append(i)
sorted(unique)

[[10, 20], [30, 56, 25], [33], [40]]

### **Tuple Practice Set**

In [ ]:
# Creating a simple tuple
my_tuple = (10, 20, 30, 40, 50)

# Printing the tuple
print("Tuple:", my_tuple)

Tuple: (10, 20, 30, 40, 50)

In [ ]:
# Creating a tuple with different data types
my_tuple = (1, "Hello", 3.14, True, [1, 2, 3])

# Printing the tuple
print("Tuple with different data types:", my_tuple)

Tuple with different data types: (1, 'Hello', 3.14, True, [1, 2, 3])

In [ ]:
# Creating a tuple
my_tuple = (1, "Apple", 3.14)

# Unpacking the tuple into separate variables
a, b, c = my_tuple

# Printing the unpacked variables
print("Unpacked values:")
print("a:", a)
print("b:", b)
print("c:", c)

Unpacked values:
a: 1
b: Apple
c: 3.14

In [ ]:
# Creating a tuple
my_tuple = (10, 20, 30, 40, 50, 60)

# Slicing the tuple to get a portion
tuple_slice = my_tuple[2:5]

# Printing the slice
print("Sliced tuple:", tuple_slice)

Sliced tuple: (30, 40, 50)

In [ ]:
#finding repeated items in a tuple

my_tuple = (1, 2, 3, 2, 4, 1, 5, 3)
repeated_items = []
for i in my_tuple:
  if my_tuple.count(i) > 1 and i not in repeated_items:
    repeated_items.append(i)
print(repeated_items)

[1, 2, 3]

In [ ]:
# finding element in a tuple
my_tuple = (10, 20, 30, 40, 50)

element = 30

if element in my_tuple:
    print(f"{element} exists in the tuple.")
else:
    print(f"{element} does not exist in the tuple.")

30 exists in the tuple.

In [ ]:
# Converting list to tuple
my_list = [10, 20, 30, 40, 50]

my_tuple = tuple(my_list)

print("Tuple:", my_tuple)

Tuple: (10, 20, 30, 40, 50)

In [ ]:
# Removing an item from a tuple
my_tuple = (10, 20, 30, 40, 50)

my_list = list(my_tuple)

my_list.remove(30)

my_tuple = tuple(my_list)

print("Tuple after removing an item:", my_tuple)

Tuple after removing an item: (10, 20, 40, 50)

In [ ]:
# Slicing a tuple
my_tuple = (10, 20, 30, 40, 50, 60)

tuple_slice = my_tuple[2:5]

print("Sliced tuple:", tuple_slice)

Sliced tuple: (30, 40, 50)

In [ ]:
# Reversing the tuple
my_tuple = (10, 20, 30, 40, 50)

reversed_tuple = my_tuple[::-1]

print("Reversed tuple:", reversed_tuple)

Reversed tuple: (50, 40, 30, 20, 10)